.articles-list {
  display: flex;
  flex-wrap: wrap;
}
article {
}

.article {
  flex-basis: 300px;
  flex-grow: 1;
  display: block;
  /* flex: 1 1 300px; */
  margin: 8px;
  padding: 16px;
  background-color: bisque;
}
h1 {
  text-align: center;
}
